.inter {
    font-family: "Inter", sans-serif;
    font-weight:weight;
}
h1{
    text-decoration: none;
}
header{
    width: 1600px;
    height: 786px;
    margin: 0 auto;
}
.navbar{
    background-color: #ddadad57;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
}
.navbar ul{
    width: 365px;
    display: flex;
    list-style: none;
    justify-content:space-between ;
}
.navbar,ul a{
    text-decoration: none;
    color: black;
}
.btn{
    align-items: center;
    width: 144px;
    height: 44px;
    background-color:#469165;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    margin:24px ;
    font-size: 16px;
    font-weight:500;
}
.cover{
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    display: flex;
    justify-content: center;
}
.content{
    width: 1360px;
    height: 427px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fb{
    width: 229px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    color: #469165;
    border:1px solid #469165;

}
.text{
    width: 770px;
    height: 168px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    text-align: center;
}
.firsth1{
    color: white;
    font-size: 72px;
    margin: 0;
}
.secoundh1{
    color: #469165;
    font-size: 70px;
    margin: 0;
}
.pera{
    color: white;
    font-size: 18px;
    text-align: center;
}
.divs{
    width: 465px;
    height: 52px;
    display: flex;
    gap: 16px;
}
.start{
    width: 251px;
    height: 52px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
}
.seeplay{
    width: 251px;
        height: 52px;
        border: 2px solid white;
        color: #469165;
        background: transparent;
        border-radius: 4px;
}
.note h1{
    text-align: center;
    font-size: 48px;
}
.note p{
    text-align: center;
    font-size: 16 px;
}
.cards
{
    display: flex;
    justify-content: space-around;
}
.cards h4{
    font-size: 24px;
    font-weight: 500;
    color: #001931;
}
.cards p{
    font-size: 16px;
    color: #627382;
}
.vector{
    width: 322px;
    height: 300px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
}
.bookmark{
    width: 322px;
        height: 300px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
}
.brain{
    width: 322px;
        height: 300px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
}
.info{
    width: 322px;
        height: 300px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
}
.vector .icon{
    margin: 69px;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100px;
    margin: 36px auto;
}
.bookmark .icon{
    width: 60px;
        height: 60px;
        background-color: #F95555;
        border-radius: 100px;
        margin: 36px auto;
}
.brain .icon{
    width: 60px;
        height: 60px;
        background-color: #F95555;
        border-radius: 100px;
        margin: 36px auto;
}
.info .icon{
width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100px;
    margin: 36px auto;
}
.container{
    width: 1360px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.textcontainer{
    display: flex;
    align-items: center;
}
.maintext .sol{
    color: #469165;
}
.maintext .mh1{
color: #001931;
font-weight: 500;
font-size: 50px;
}
.maintext .mh1p{
    font-size: 16px;
    color: #627382;
}
.banner{
    margin-top: 120px;
    margin-bottom:120px ;
}
.banner-footer{
    width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    display: flex;
    justify-content: center;
    margin:0 auto;
}
.contents-footer{
    text-align: center;
}
.cf h1{
    color: #001931;
}
.cf p{
    color:#627382;
}
.buttons-footer{
    align-items: center;
        width: 194px;
        height: 44px;
        background-color: #469165;
        border: none;
        text-decoration: none;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
}
.btn-pera{
    color: #627382;
}
.f-section{
    width: 1600px;
    height: 348px;
    background-color: #001931;
    margin: 0 auto;
;
}
.logo{
        display: flex;
            justify-content: space-between;
            align-items: center;
}
.logo img{
    margin-top: 150px;
}
.links span{
color: white;
margin-right:10px ;
margin-top:100px ;
display: flex;
}
.copy{
    color: white;
    text-align: center;
}
