.inter {
    font-family: "Inter", sans-serif;
    font-weight:weight;
}
h1{
    text-decoration: none;
}
header{
    width: 1600px;
    height: 786px;
    margin: 0 auto;
}
.navbar{
    background-color: #ddadad57;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
}
.navbar ul{
    width: 365px;
    display: flex;
    list-style: none;
    justify-content:space-between ;
}
.navbar,ul a{
    text-decoration: none;
    color: black;
}
.btn{
    align-items: center;
    width: 144px;
    height: 44px;
    background-color:#469165;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    margin:24px ;
    font-size: 16px;
    font-weight:500;
}
.cover{
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    display: flex;
    justify-content: center;
}
.content{
    width: 1360px;
    height: 427px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fb{
    width: 229px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    color: #469165;
    border:1px solid #469165;

}
.text{
    width: 770px;
    height: 168px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    text-align: center;
}
.firsth1{
    color: white;
    font-size: 72px;
    margin: 0;
}
.secoundh1{
    color: #469165;
    font-size: 70px;
    margin: 0;
}
.pera{
    color: white;
    font-size: 18px;
    text-align: center;
}
.divs{
    width: 465px;
    height: 52px;
    display: flex;
    gap: 16px;
}
.start{
    width: 251px;
    height: 52px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
}
.seeplay{
    width: 251px;
        height: 52px;
        border: 2px solid white;
        color: #469165;
        background: transparent;
        border-radius: 4px;
}
